{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "webextensions": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "quotes": [ "error", "single", { "allowTemplateLiterals": true } ],
    "no-undef": "error",
    "semi": "error",
    "prefer-const": "error",
    "no-const-assign": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": []
}
